body {
	background-color: #F2F5F7;
	font-family: 'Open Sans',Arial,sans-serif;
}

/* INICIO DE LA SECCION HEADER */

.header__Container {
    display: flex; /* se invoca el modulo unidimensional de layout: caja flexible */
    align-items: center; /* se alinean items verticalmente en "y" */
    background-color: black; /* color fondo sección */
}

.logo__Img {
    width: 8%; /* tamaño del logo */
    
}

.navbar {
    display:flex;
    width: 92%; /* restante asignado a la navbar */
    justify-content: flex-end; /* alinea link acia el final de la fila */

}

.navbar__Links {
    display: flex;
    width: 10%; /* ancho de cada link */
    text-decoration: none; /* eliminar el subrayado del link */
    color: white; /* color letra de cada link */
    justify-content: center;

}

/* INICIA PERSONALIZACION DE LA CLASE BOTÓN EN ARAS DE ANIMARLA */

.button {
    /*font-size: 17px;*/
    background: transparent; /* para que aqdopte el color de fondo de la pagina */
    border: none; /* para que elimine el borde del botón */
    padding: 1em; /* para definir el tamaño del botón */
    position: relative; /* indica que es un elemento posicionado y que los pseudoelementos se sicionan teniendolo como referencia. */
    transition: .5s ease; /* duracion y efecto de la animacion */
    z-index: 2; /* el elemento tiene prelacion sobre los pseudoelementos */
  }
  
  .button::before { /* pseudoelemento para crear la línea animada que se extiende */
    content: ''; /* no tendrá ningún contenido */
    position: absolute; /* se ubicará en relacion con el elemento padre que es el botón */
    left: 0; /* la linea inicia en el valor 0 de la parte izq */
    bottom: 0; /* la linea inicia en el valor 0 de la parte de abajo */
    height: 2px; /* el grosor de la línea */
    width: 0; /*la línea inicia no mostrandose (para la animacion)*/
    background-color: #fcfcfc; /* indica el color de la linea */
    transition: .5s ease; /* duracion y efecto de la animacion */
    z-index: -1; /* la prelacion es por debajo del botón */
  }
  
  .button:hover { /* cuando el mouse se pone sobre el botón */
    color: #ffffff; /* color del texto que mostrará */
    transition-delay: .5s; /* que tan lenta será la animacion */
    
  }
  
  .button:hover::before { /* funciona cuando el mouse se coloca sobre el boton*/
    width: 100%; /* hace que la línea se extienda de lado a lado hasta que se complete */ 
    
  }
  
  .button::after { /*para el inicio de la animacion */
    content: ''; /*sin contenido*/
    position: absolute; /* se ubica según su padre*/
    left: 0; /* la linea inicia en el valor 0 de la parte izq */
    bottom: 0; /* la linea inicia en el valor 0 de la parte de abajo */
    height: 0; /* el grosor de la línea al inicio */
    width: 100%; /* indica que ocupará todo el espacio de lado a lado */
    transition: .4s ease; /* duracion y efecto de la transicion */
    z-index: -2; /* configura que el elemento quede detrás de los demás */
    
  }
  
  .button:hover::after {
    height: 100%; /* indica la altura a la que se extenderá el fondo rojo */
    transition-delay: 0.4s; /*retraso de la animacion */
    background-color: rgb(236, 11, 11); /* color de fondo que se extiende */
  }
  
  /* FIN DE LA SECCION HEADER */


