body {
	background-color: black;
	font-family: 'Poppins', sans-serif;
  color: white;
}

/* INICIO DE LA SECCION HEADER */

.header__Container {
    display: flex; /* se invoca el modulo unidimensional de layout: caja flexible */
    align-items: center; /* se alinean items verticalmente en "y" */
    background-color: black; /* color fondo sección */
}

.logo__Img {
    width: 10%; /* tamaño del logo */
    padding: 0 3%;
}

.navbar {
    display:flex;
    width: 92%; /* restante asignado a la navbar */
    justify-content: flex-end; /* alinea link acia el final de la fila */

}

.navbar__Links {
    display: flex;
    width: 10%; /* ancho de cada link */
    text-decoration: none; /* eliminar el subrayado del link */
    color: white; /* color letra de cada link */
    justify-content: center;

}

/* INICIA PERSONALIZACION DE LA CLASE BOTÓN EN ARAS DE ANIMARLA */

.button {
    /*font-size: 17px;*/
    background: transparent; /* para que aqdopte el color de fondo de la pagina */
    border: none; /* para que elimine el borde del botón */
    padding: 1em; /* para definir el tamaño del botón */
    position: relative; /* indica que es un elemento posicionado y que los pseudoelementos se sicionan teniendolo como referencia. */
    transition: .5s ease; /* duracion y efecto de la animacion */
    z-index: 2; /* el elemento tiene prelacion sobre los pseudoelementos */
  }
  
  .button::before { /* pseudoelemento para crear la línea animada que se extiende */
    content: ''; /* no tendrá ningún contenido */
    position: absolute; /* se ubicará en relacion con el elemento padre que es el botón */
    left: 0; /* la linea inicia en el valor 0 de la parte izq */
    bottom: 0; /* la linea inicia en el valor 0 de la parte de abajo */
    height: 2px; /* el grosor de la línea */
    width: 0; /*la línea inicia no mostrandose (para la animacion)*/
    background-color: #fcfcfc; /* indica el color de la linea */
    transition: .5s ease; /* duracion y efecto de la animacion */
    z-index: -1; /* la prelacion es por debajo del botón */
  }
  
  .button:hover { /* cuando el mouse se pone sobre el botón */
    color: black; /* color del texto que mostrará */
    transition-delay: .5s; /* que tan lenta será la animacion */
    
  }
  
  .button:hover::before { /* funciona cuando el mouse se coloca sobre el boton*/
    width: 100%; /* hace que la línea se extienda de lado a lado hasta que se complete */ 
    
  }
  
  .button::after { /*para el inicio de la animacion */
    content: ''; /*sin contenido*/
    position: absolute; /* se ubica según su padre*/
    left: 0; /* la linea inicia en el valor 0 de la parte izq */
    bottom: 0; /* la linea inicia en el valor 0 de la parte de abajo */
    height: 0; /* el grosor de la línea al inicio */
    width: 100%; /* indica que ocupará todo el espacio de lado a lado */
    transition: .4s ease; /* duracion y efecto de la transicion */
    z-index: -2; /* configura que el elemento quede detrás de los demás */
    
  }
  
  .button:hover::after {
    height: 100%; /* indica la altura a la que se extenderá el fondo rojo */
    transition-delay: 0.4s; /*retraso de la animacion */
    background-color: rgb(47, 255, 144); /* color de fondo que se extiende */
  }
  
  /* FIN DE LA SECCION HEADER */


/* INICIO DE LA SECCION BANNER */

.banner {
  display: flex;
  
}

.banner__Texts-Button {
  background: rgb(47, 255, 144);;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem;
  border: none;
  margin: 10% 0 5% 10%;
}

.banner__Texts-Title {
  margin: 5% 0 5% 10%;
  font-size: 3rem;
  width: 100%;

}

.banner__Texts-Subtitle {
  margin: 10% 0 5% 10%;
  font-size: 1.5rem;

}

.banner__Texts-Paragraph {
  margin: 10%;
  line-height: 1.5rem;
  font-size: smaller;
  font-weight: 200;
  letter-spacing: 1px;
  opacity: 60%;
  width: 100%;
  /* text-shadow: 1px 1px 1px rgb(0, 0, 0); */

}

.banner__Image {
  background-image: url('/Portfolio_Ivan_Nagles/img/Ivan\ Nagles\ b_black.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 40%;
  margin: auto;
}

.about-me {
  display: flex;
  width: 100%;
}

.about__Progress-Container {
  padding: 3% 0 3% 5%;
  width: 50%;
  height: 100vh;
  line-height: 1.5rem;
}

.about__Container {
  padding: 3% 0 3% 5%;
  width: 80%;
}

.about__Progress-Title {
  margin: 2rem 0rem;
  font-size: xx-large;
}

progress {
  width: 80%; /* ancho del espacio de la barra */
  height: 10px; /* alto de la barra */
  background: rgb(47, 255, 144); /* fondo de la barra*/
  padding: 0.1rem; /*separacion interna */ 
  border-radius: 5px; /*borde redondeado */
}

.about__Progress-Bar-List {
  animation: progress 15s linear forwards; /*nombre de la animacion, duracion, tipo movimiento, direccion */
}

@keyframes progress { /*nombre de la animacion */
  from { width: 0%; } /*la barra debe comenzar en*/
  to { width: 100%; } /*la animacion de la barra termina en lo que se parametrizó*/
}

progress::-webkit-progress-value {
  background-color: rgb(47, 255, 144); /* Cambiar el color de la barra de progreso */
}

.about__Container-Title {
  margin: 2rem;
  font-size: xx-large;
  width: 50%;
}

.about__Container-Paragraph {
  margin: 2rem;
  width: 80%;
  line-height: 2rem;
  font-weight: 200;
  opacity: 60%;
}

.about__Container-Subtitle {
  margin: 2rem;
  font-size: large;
}

.about__Container-Table {
  margin: 2rem;
  line-height: 2rem;
  font-weight: 200;
  width: 90%;
  opacity: 60%;
  
}

th, td {
  letter-spacing: 1px;
}

a[href] {
  color: white;
  text-decoration: none;
  cursor: pointer;
  /*transform: scale(1.2); para aumentar tamaño del pointer*/
}

.about__Container-CV-Button {
  background: rgb(47, 255, 144);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem;
  border: none;
  margin: 2rem;
  width: 15rem;
  text-transform: uppercase;
}